<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.phh.treble.overlay.redmi.k50.systemui"
    android:versionCode="1"
    android:versionName="1.0">
    <application 
      android:hasCode="false"/>
    <overlay
      android:targetPackage="com.android.systemui"
      android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
      android:requiredSystemPropertyValue="+*edmi/rubens*"
      android:isStatic="true"
      android:priority="999"/>
</manifest>
