<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.moto.g7play"
        android:versionCode="1"
        android:versionName="1.0">

        <!--
                TESTS: Ignore ro.vendor.product.device
                There is no vendor fingerprint
        -->
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.product.device"
                android:requiredSystemPropertyValue="channel"
		android:priority="72"
		android:isStatic="true" />
</manifest>
