<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.dil3mm4.huawei.HWI"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
	        android:requiredSystemPropertyName="ro.hw.oemName"
		android:requiredSystemPropertyValue="+HWI*"
		android:priority="196"
		android:isStatic="true" />
</manifest>
