<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.realme.re513cl1.systemui"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.systemui"
                android:requiredSystemPropertyName="ro.product.odm.device"
                android:requiredSystemPropertyValue="RE513CL1"
		android:priority="479"
		android:isStatic="true" />
</manifest>
