<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.nightmode"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="persist.sys.overlay.nightmode"
                android:requiredSystemPropertyValue="true"
		android:priority="3"
		android:isStatic="true" />
</manifest>
