<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.phh.treble.overlay.realme.re513cl1">
    <overlay 
	android:isStatic="true" 
	android:priority="261" 
	android:targetPackage="android"
        android:requiredSystemPropertyName="ro.boot.prjname"
	android:requiredSystemPropertyValue="(132863|133013)" />
</manifest>
