<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.samsung.j7prime"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
	android:requiredSystemPropertyName="ro.product.board"
	android:requiredSystemPropertyValue="exynos7870"
	android:priority="300"
	android:isStatic="true"/>
</manifest>
