<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.lge.lm_v500n"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+lge/flashlmdd_lao_com/flashlmdd*"
		android:priority="196"
		android:isStatic="true" />
</manifest>
