<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.oppo.findx3pro"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.boot.prjname"
                android:requiredSystemPropertyValue="+(20031|21051)"
        android:priority="2003"
        android:isStatic="true" />
</manifest>
