<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.realme.c55"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.boot.prjname"
                android:requiredSystemPropertyValue="+226AE"
        android:priority="958"
        android:isStatic="true" />
</manifest>
