<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.phh.treble.overlay.sony.pdx223" android:versionCode="1" android:versionName="1.0">
        <overlay android:targetPackage="android" android:requiredSystemPropertyName="ro.vendor.build.fingerprint" android:requiredSystemPropertyValue="+Sony/pdx223/pdx223*" android:priority="667" android:isStatic="true" />
</manifest>
