<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.phh.treble.overlay.sony.SO03L"
          android:versionCode="1"
          android:versionName="1.0">
          <overlay android:targetPackage="android"
                    android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                    android:requiredSystemPropertyValue="+docomo/SO-03L/SO-03L*"
          android:priority="426"
          android:isStatic="true" />
</manifest>
