<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.oneplus.op8.systemui"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.systemui"
                android:requiredSystemPropertyName="ro.product.odm.device"
                android:requiredSystemPropertyValue="+(OnePlus8|OnePlus8TMO)"
        android:priority="1982"
        android:isStatic="true" />
</manifest>
