<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.misc.spen_pointer"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
            android:requiredSystemPropertyName="persist.sys.overlay.spen_pointer"
            android:requiredSystemPropertyValue="true"
            android:priority="8004"
            android:isStatic="true" />
</manifest>
