<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.oneplus.op10pro.systemui"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.systemui"
                android:requiredSystemPropertyName="ro.boot.prjname"
                android:requiredSystemPropertyValue="20846"
        android:priority="2084"
        android:isStatic="true" />
</manifest>
