<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.unihertz.titan_pocket_eea"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+Unihertz/Titan_pocket_EEA*"
		android:priority="177"
		android:isStatic="true" />
</manifest>
