<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.samsung.a10s"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
        	android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
        	android:requiredSystemPropertyValue="+(*samsung/a10sxx/a10s*|samsung/a10s/a10s*)"
		android:priority="100"
		android:isStatic="true" />
</manifest>
