<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.cubot.kingkong_mini2"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
				android:requiredSystemPropertyValue="+cubot/kingkong_mini2*"
		android:priority="277"
		android:isStatic="true" />
</manifest>