<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.samsung.a73xq"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.product.vendor.device"
                android:requiredSystemPropertyValue="a73xq"
        android:priority="442"
        android:isStatic="true" />
</manifest>
