<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.huawei.p20l"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.product.board"
                android:requiredSystemPropertyValue="ANE"
		android:priority="30"
		android:isStatic="true" />
</manifest>
