<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		android:versionCode="1"
		android:versionName="1.0"
		package="me.phh.treble-overlay-vivo-y20"
		platformBuildVersionCode="30"
		platformBuildVersionName="11">
		<overlay android:targetPackage="android"
				android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+*vivo/y20*"
		android:priority="392"
		android:isStatic="true" />
</manifest>
