<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.ulefone.Armor12S"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
		android:requiredSystemPropertyValue="+Ulefone/Armor_12S/Armor_12S*"
		android:priority="983"
		android:isStatic="true" />
</manifest>
