<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.Blackview.BV9600E_EEA"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="Blackview/BV9600E_EEA/BV9600E:9/PPR1.180610.011/1576050623:user/release-keys"
		android:priority="739"
		android:isStatic="true" />
</manifest>