<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.realme.rmx3366"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.boot.prjname"
                android:requiredSystemPropertyValue="21615"
        android:priority="2161"
        android:isStatic="true" />
</manifest>
