<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.samsung.a33.systemui"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.systemui"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+*samsung/a33*"
        android:priority="563"
		android:isStatic="true" />
</manifest>