<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.lg.phoenix_lao_com.phoenix_sprout"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+lge/phoenix_lao_com/phoenix_sprout*"
		android:priority="452"
		android:isStatic="true" />
</manifest>
