<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.phh.treble.overlay.moto.onefusionplus.systemui" android:versionCode="1" android:versionName="1.0">
	<overlay android:targetPackage="com.android.systemui" android:requiredSystemPropertyName="ro.vendor.build.fingerprint" android:requiredSystemPropertyValue="+motorola/liber_retail/liber*" android:priority="227" />
</manifest>