<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.xiaomi.mi10tlite.systemui"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.systemui"
                android:requiredSystemPropertyName="ro.product.vendor.device"
                android:requiredSystemPropertyValue="+(gauguin|gauguinpro|gauguininpro)"
        android:priority="779"
        android:isStatic="true" />
</manifest>
