<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.phh.treble.overlaypicker"
	android:sharedUserId="android.uid.system">

	<uses-permission android:name="android.permission.CHANGE_OVERLAY_PACKAGES" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
	    android:label="@string/app_label">

	    <receiver android:name=".Starter">
		    <intent-filter>
			    <action android:name="android.intent.action.BOOT_COMPLETED"/>
		    </intent-filter>
	    </receiver>
    </application>

</manifest>
