<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.asus.zenfonelivel1"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
				android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+*ASUS_X00R_2*"
		android:priority="81"
		android:isStatic="true" />
</manifest>
