<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.nokia.pda_sprout_5_1plus_x5"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="+Nokia/Panda_00WW*"
		android:priority="181"
		android:isStatic="true" />
</manifest>
