<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.teclast.M30"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
		android:requiredSystemPropertyValue="+NODROPOUT/T25*"
		android:priority="140"
		android:isStatic="true" />
</manifest>
