<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="me.phh.treble.overlay.samsung.a21s"
  android:versionCode="1"
  android:versionName="1.0">
  <overlay
    android:isStatic="true"
    android:priority="980"
    android:targetPackage="android"
    android:requiredSystemPropertyValue="+*samsung/a21s*"
    android:requiredSystemPropertyName="ro.vendor.build.fingerprint" />
</manifest>
