<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.phh.treble.overlay.samsung.x1q"
          android:versionCode="1"
          android:versionName="1.0">
    <overlay android:targetPackage="android"
             android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
             android:requiredSystemPropertyValue="+(*samsung/x1q*|*samsung/x1s*)"
             android:priority="485"
             android:isStatic="true" />
</manifest>