<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.moto.z2force"
        android:versionCode="1"
        android:versionName="1.0">
	<!--
		TESTS: Ignore ro.vendor.product.name
		Same as G6 Plus
	-->
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
                android:requiredSystemPropertyValue="motorola/nash/nash:8.0.0/OPXS27.109-34-10/5:user/release-keys"
		android:priority="72"
		android:isStatic="true" />
</manifest>
