<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.misc.aod"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
		android:requiredSystemPropertyName="persist.sys.overlay.aod"
		android:requiredSystemPropertyValue="true"
		android:priority="8003"
		android:isStatic="true" />
</manifest>
