<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.realme.85g.systemui"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.systemui"
                android:requiredSystemPropertyName="ro.build.overlay.deviceid"
                android:requiredSystemPropertyValue="+RMX324(1|2)"
                android:priority="336"
		android:isStatic="true" />
</manifest>
