<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.teclast.P20HD"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
		android:requiredSystemPropertyValue="+Teclast/P20HD_EEA/P20HD_EEA*"
		android:priority="854"
		android:isStatic="true" />
</manifest>
