<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.samsung.s9.systemui"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.systemui"
                android:priority="23"/>
</manifest>
