<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.wifi5g"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
		android:requiredSystemPropertyName="persist.sys.overlay.wifi5g"
		android:requiredSystemPropertyValue="true"
		android:priority="10"
		android:isStatic="true" />
</manifest>
