<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.phh.treble.overlay.realme.x2pro">
    <overlay 
	android:isStatic="true" 
	android:priority="108" 
	android:targetPackage="android"
        android:requiredSystemPropertyName="ro.build.overlay.deviceid"
	android:requiredSystemPropertyValue="+RMX1931*" />
</manifest>
