<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.umidigi.a7proeea"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.product.build.fingerprint"
                android:requiredSystemPropertyValue="+UMIDIGI/A7_Pro_EEA*"
		android:priority="528"
		android:isStatic="true" />
</manifest>