<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.phh.treble.overlay.samsung.j6" 
	android:versionCode="1"
	android:versionName="1.0">
    	<overlay android:targetPackage="android"
    		android:priority="223"
    		android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
    		android:isStatic="true"
    		android:requiredSystemPropertyValue="+*samsung/j6lte"/>
</manifest>
