<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.lenovo.k5pro"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.product.model"
                android:requiredSystemPropertyValue="Lenovo L38041"
		android:priority="70"
		android:isStatic="true" />
</manifest>
