<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.razer.cheryl"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
		android:requiredSystemPropertyValue="+razer/cheryl/cheryl*"
		android:priority="91"
		android:isStatic="true" />
</manifest>
