<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.phh.qti.audio"
	android:sharedUserId="android.uid.system"
	android:persistent="true">

    <application
	    android:label="@string/app_label">

	    <receiver android:name=".Starter">
		    <intent-filter>
			    <action android:name="android.intent.action.BOOT_COMPLETED"/>
		    </intent-filter>
	    </receiver>
	    <service android:name=".Service" />
    </application>
</manifest>
